<%  @tasks.each do |task| %>
<% if task.completed == true %>
  <h2>[X]  <%= link_to task.title, show_path(task) %></h2>
  <p><%= task.details %></p>
<% else %>
  <h2>[ ]  <%= link_to task.title, show_path(task) %></h2>
  <p><%= task.details %></p>
<% end %>
<% end %>

